<div id="mobile-menu" class="mat-elevation-z2">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="assets/logo.png" id="nav-logo" />
      <span class="spacer"></span>
      <button
        mat-icon-button
        style="margin-right: 5%"
        (click)="expandMobileMenu = !expandMobileMenu"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="expandMobileMenu">
      <button mat-button class="nav-btn" routerLink="/intro">服务介绍</button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="expandMobileMenu">
      <button mat-button class="nav-btn" routerLink="/process">定制流程</button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="expandMobileMenu">
      <button mat-button class="nav-btn" routerLink="/showcase">
        案例展示
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="expandMobileMenu">
      <button mat-button class="nav-btn" routerLink="/about-us">
        关于我们
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="expandMobileMenu">
      <button mat-button class="nav-btn" routerLink="/questionnaire">
        开始定制
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div id="nav-btns" class="mat-elevation-z2">
  <mat-toolbar color="primary">
    <span class="col-2"></span>
    <span class="col-2"><img src="assets/logo.png" id="nav-logo"/></span>
    <button mat-button class="nav-btn col" routerLink="/intro">服务介绍</button>
    <button mat-button class="nav-btn col" routerLink="/process">定制流程</button>
    <button mat-button class="nav-btn col" routerLink="/showcase">案例展示</button>
    <button mat-button class="nav-btn col" routerLink="/about-us">关于我们</button>
    <span class="col-2"></span>
    <button
      mat-button
      class="nav-btn col"
      routerLink="/questionnaire"
    >
      开始定制
    </button>
    <span class="col-2"></span>
  </mat-toolbar>
</div>
