<app-navbar></app-navbar>

<ul style="padding-top: 15px">
  <li style="--accent-color: #41516c">
    <div class="date">第一阶段：需求咨询</div>
    <div class="title">
      深入了解您的梦想世界，收集您对游戏类型、剧本、美术的具体需求。
    </div>
  </li>
  <li style="--accent-color: #fbca3e">
    <div class="date">第二阶段：个性化设计</div>
    <div class="title">
      根据您的需求，制定个性化的剧本、美术风格、配音配乐方案、演出方式。
    </div>
  </li>
  <li style="--accent-color: #e24a68">
    <div class="date">第三阶段：游戏制作</div>
    <div class="title">
      完成剧本，美术定制方案，设计开发出定制化的游戏关卡和特色元素。
    </div>
  </li>
  <li style="--accent-color: #1b5f8c">
    <div class="date">第四阶段：测试与反馈</div>
    <div class="title">
      提供游戏试玩Demo，收集您的反馈并进行必要的调整优化。
    </div>
  </li>
  <li style="--accent-color: #4cadad">
    <div class="date">第五阶段：终稿呈现</div>
    <div class="title">完成游戏最终版本，确保所有细节都符合您的期望。</div>
  </li>
  <li style="--accent-color: #ffb750">
    <div class="date">第六阶段：分享与庆祝</div>
    <div class="title">配合您的需求，分享游戏给您的亲友。</div>
  </li>
  <li style="--accent-color: #a587ca">
    <div class="date">第七阶段：后续支持</div>
    <div class="title">如若想要制作游戏的续集或增加玩法，我们始终陪伴！</div>
  </li>
</ul>
