ul {
  --col-gap: 2rem;
  --line-w: 0.25rem;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: 2rem;
  list-style: none;
  /* width: min(60rem, 90%); */
  margin-inline: auto;
}

@media (max-width: 500px) {
  ul {
    width: min(80%, 60rem);
  }
}

@media (min-width: 500px) {
  /* line */
  ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
  }

  /* circle */
  ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: white;
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul {
    display: grid;
    width: min(50%, 60rem);
  }
}

/* columns*/
/* row gaps */
ul li {
  margin-bottom: 2rem;
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: left;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* title descr */
ul li .title,
ul li .descr {
  position: relative;
  padding-inline: 1.5rem;
}

ul li .title {
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
  font-size: 20px;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}
