<div class="container background-image">
  <div class="row align-items-center">
    <div class="col-2"></div>
    <div class="col-8">
      <h1 id="title1" color="primary">
        即刻构建专属于你的游戏世界<br />
        您的梦想游戏世界触手可及<br />
        我们感受到了你丰富的内心世界。我们引导您从零开始<br />
        每一步都有我们的专业协助，定制您的幻想世界
      </h1>
      <button
        mat-flat-button
        color="primary"
        id="start-icon"
        routerLink="/questionnaire"
      >
        开始定制
      </button>
    </div>
    <div class="col-2"></div>
  </div>
</div>
