@media (min-width: 1000px) {
  #title1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #222222;
  }

  #start-icon {
    height: 70px;
    font-size: 35px;
    width: 250px;
    font-weight: 700;
    border-radius: 25px;
  }

  .row {
    height: 800px;
  }
}

@media (max-width: 1000px) {
  .row {
    height: 500px;
  }
}

.background-image {
  max-width: 100vw;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/assets/intro_bg1_opa.png");
  opacity: 0.8;
}
